header {
    display: flex;
    flex-direction: column;
    background-color: #0B1C51;
    color: white;
    text-align: center;
    justify-content: center;
    margin: 0;
}

header h1 {
    font-size: 52px;
    padding: 0 30px;
}

header nav {
    display: flex;
    justify-content: center;
  }

header nav ul {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    text-align: center;
    list-style: none;
}

header nav ul li a {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 22px;
    text-decoration: none;
    margin: 0 20px 0 0;
  }



  @media all and (min-width: 600px) {
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
    }
  
    header h1 {
        font-size: 48px;
    }
  
    header nav {
        /* display: flex; */
        align-content: center;

        margin: 30px;


    }
  }